.about-section {
  margin: 0 100px 100px;
}

.about-title {
  font-size: 48px;
  margin-bottom: 20px;
}

.about-long {
  font-size: 24px;
  max-width: 900px;
}

div[class^="list-"] {
  font-size: 18px;
}

.about-end {
  font-size: 24px;
}

@media only screen and (max-width: 900px) {
  .about-section {
    margin: 0 25px 100px;
  }
}
