.footer {
  margin: auto;
  padding-bottom: 10px;
}

.footer-text {
  text-align: center;
  font-size: 18px;
}

.social-icons {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

img {
  padding: 0 7px;
}
