.intro-page {
  z-index: 0;
  padding: 30vh 100px 0;
  min-height: 100vh;
}

.intro-header {
  font-size: 32px;
  color: #2a9d8f;
}

.intro-name {
  padding: 30px 0 15px;
  font-size: 64px;
  color: #264653;
}

.intro-one-liner {
  font-size: 56px;
  color: #f4a261;
}

.intro-sentence {
  padding-top: 30px;
  font-size: 24px;
  max-width: 700px;
}

@media only screen and (max-width: 900px) {
  .intro-page {
    padding: 30vh 20px 10vh;
  }

  .intro-header {
    font-size: 24px;
  }

  .intro-name {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 30px;
  }

  .intro-one-liner {
    font-size: 28px;
  }
}
